<launch>
  <arg name="data_path" default="/var/data/kitti/dataset/"/>

  <arg name="left_topic" default="/sensor/camera/grayscale/left"/>
  <arg name="right_topic" default="/sensor/camera/grayscale/right"/>
  <arg name="left_color_topic" default="/sensor/camera/color/left"/>
  <arg name="right_color_topic" default="/sensor/camera/color/right"/>
  <arg name="velodyne_topic" default="/sensor/velodyne/cloud_euclidean"/>

  <arg name="left_image_pub" default="true"/>
  <arg name="right_image_pub" default="false"/>
  <arg name="left_color_image_pub" default="false"/>
  <arg name="right_color_image_pub" default="false"/>
  <arg name="velodyne_pub" default="true"/>

  <!-- Node -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="vel_cam" args="-0.00478402995523 -0.0733742912704 -0.333996788412 -0.499145915345 0.504084765362 -0.496817281121 -0.499924463077 /sensor/camera /sensor/velodyne" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="cam_left" args="0 0 0 0 0 0 1 /sensor/camera /sensor/camera/grayscale/left" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="cam_color_left" args="0 0 0 0 0 0 1 /sensor/camera /sensor/camera/color/left" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="cam_color_right" args="0 0 0 0 0 0 1 /sensor/camera /sensor/camera/color/right" />

  <node pkg="kitti_player" type="kitti_player" name="kitti_player">
    <param name="data_path" type="string" value="$(arg data_path)"/>

    <param name="left_topic" type="string" value="$(arg left_topic)"/>
    <param name="right_topic" type="string" value="$(arg right_topic)"/>
    <param name="left_color_topic" type="string" value="$(arg left_color_topic)"/>
    <param name="right_color_topic" type="string" value="$(arg right_color_topic)"/>
    <param name="velodyne_topic" type="string" value="$(arg velodyne_topic)"/>

    <param name="left_image_pub" type="bool" value="$(arg left_image_pub)"/>
    <param name="right_image_pub" type="bool" value="$(arg right_image_pub)"/>
    <param name="left_color_image_pub" type="bool" value="$(arg left_color_image_pub)"/>
    <param name="right_color_image_pub" type="bool" value="$(arg right_color_image_pub)"/>
    <param name="velodyne_pub" type="bool" value="$(arg velodyne_pub)"/>
  </node>
</launch>
